/* defalt css */

* {
	padding: 0;
	margin: 0;
}

.max {
	max-width: 1180px;
	margin: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.left {
	float: left;
}

.right {
	float: right;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
	font-family: 'Work Sans', sans-serif;
}

/* main Css */

/* Header css */

.header-section {
	border-bottom: 1px solid #000;
	background-color: #fff;

	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
}

.header-logo {
	width: 30%;
}

.header-logo a {}

.header-logo img {
	width: 50px;
	float: left;
	margin-right: 10px;
}

.header-logo span {
	font-size: 20px;
	color: black;
	font-weight: 600;
	margin-top: 15px;
	display: inline-block;
}

.header-menu {
	width: 55%;
}

.header-menu ul {
	text-align: center;
}

.header-menu ul li {
	display: inline-block;
	position: relative;
}

.header-menu ul li a {
	display: block;
	font-size: 20px;
	color: black;
	padding: 0 15px;
	line-height: 61px;
	font-weight: 400;
}

.header-menu span {}

.header-menu ul li a:hover {}

.header-btn {
	width: 15%;
}

.header-btn a {
	color: #6278df;
	border: 2px solid #6278df;
	display: inline-block;
	padding: 10px 20px;
	margin-top: 10px;
	font-weight: 700;
	border-radius: 10px;
	font-size: 17px;
	transition: .4s;
}

.header-btn a:hover {
	background-color: #6278df;
	color: #ffffff;
}

/* dropdwon menu */
.header-menu ul li ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 300px;
	text-align: left;
	background-color: #ffffff;
	visibility: hidden;
	opacity: 0;
	transition: .4s;
}

.header-menu ul li ul li {
	display: block;
}

.header-menu ul li ul li a {
	display: block;
	border-bottom: 1px solid #7d7d7d;
}

.header-menu ul li ul li a:first-child {
	border-top: 1px solid #ddd;
}

.header-menu ul li:hover ul {
	visibility: visible;
	opacity: 1;
}

/* slider section */
.slider-section {
	background-image: url(https://i.ibb.co/WxmZgrf/mbr-4.jpg);
	padding: 150px 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 99;
}

.slider-section::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: -1;
}

.slider-section h5 {
	font-size: 25px;
	color: #fff;
	font-weight: 500;
}

.slider-section h2 {
	font-size: 60px;
	color: #ffffff;
	padding: 40px 0;
	font-weight: 800;
}

.slider-section a {
	display: inline-block;
	color: #7d7d7d;
	background: #fff;
	padding: 15px 25px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
	font-weight: 700;
	transition: .4s;
}

.slider-section span {
	margin-right: 5px;
}

.slider-section a:hover {
	background-color: #6278df;
	color: #fff;
}

/* video section */
.video-section {
	background-color: #f7f9ff;
	padding: 80px 0;
}

.video-left {
	width: 45%;
	margin-right: 5%;
}

.video-right {
	width: 50%;
}

.video-right h4 {
	font-size: 45px;
	padding: 0 0 20px 0;
	font-weight: 500;
}

.video-right p {
	color: #867676;
	font-size: 18px;
	line-height: 32px;
}

/* Service Section */
.service-section {
	background-color: #fff;
	padding: 80px 0;
}

.top-service {
	padding-bottom: 40px;
}

.top-service h1 {
	font-size: 60px;
	font-weight: 600;
}

.top-service p {
	font-size: 30px;
	padding: 20px 0;
	font-weight: 200;
}

.services-list {
	background-color: #fbfcfd;
}

.services {
	width: 31%;
	margin-left: 2%;
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .4);
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
	transition: .4s;
}

.services:hover {
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .4);
}

.s-icon {}

.s-icon span {
	color: #6278df;
	height: 150px;
	float: left;
	margin-right: 30px;
	font-size: 30px;
}

.s-content {}

.s-content h2 {
	font-size: 30px;
	font-weight: 500;
	padding: 15px 0;
}

.s-content p {
	font-size: 18px;
	line-height: 30px;
	font-weight: 200;
}

/* priceing section */

.priceing-section {
	background-color: #f7f9ff;
	padding: 80px 0;
}

.priceing-section h1 {
	font-weight: 400;
}

.price-item {}

.price-list {
	width: 31.3%;
	margin-right: 2%;
	background: #fff;
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .4);
	transition: .4s;

}

.price-list:hover .p-top {
	background: #6278df;
	color: #fff;
}

.price-list:hover .p-btn a {
	background: #6278df;
	color: #fff;
}

.p-top {
	border-bottom: 1px solid #ddd;
	padding: 30px;
}

.p-top h4 {
	font-size: 25px;
	font-weight: 500;
	padding: 20px 0;
}

.p-top h1 {
	font-size: 35px;
	font-weight: 700;
}

.p-top span {
	font-size: 20px;
}

.p-top h5 {
	padding: 20px 0;
	font-size: 25px;
	font-weight: 500;
}

.p-top p {
	font-size: 18px;
	line-height: 1.8em;
	color: #767676;
}


.p-list {
	padding: 30px;
}

.p-list ul {
	list-style: none;
}

.p-list ul li {
	margin-top: 35px;
	font-size: 20px;
	font-weight: 300;
}

.p-list span {
	color: #6278df;
	margin-right: 10px;
	font-weight: 800;
}

.p-btn {}

.p-btn a {
	margin-top: 50px;
	color: #6278df;
	background: #fff;
	display: inline-block;
	padding: 20px 35px;
	font-weight: 600;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .4);
	transition: .5s;

}

.p-btn a:hover {
	background: #000 !important;
	color: #fff;

}

/* team section */

.team-section {
	padding: 80px 0;
}

.team-section h1 {
	text-align: center;
	margin-bottom: 70px;
	font-size: 50px;
	font-weight: 400;
}

.team-list {
	width: 23%;
	margin-right: 2%;
}

.t-img {}

.t-img img {
	width: 100%;
}

.t-img .t-bio {
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .2);
	padding: 30px;
}

.t-img .t-bio h4 {
	font-weight: 600;
	font-size: 21px;
	padding-bottom: 10px;
}

.t-img .t-bio h5 {
	font-size: 15px;
	font-weight: 200;
}

/* subscribe section */

.sub-section {
	background: #f7f9ff;
	padding: 80px 0;
}

.sub-section h1 {
	font-weight: 400;
}

.frm {
	margin-top: 50px;
}

.input-frm {
	width: 400px;
	padding: 20px 25px;
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .5);
	border: 2px solid transparent;
	border-radius: 10px;
	font-size: 22px;
	transition: .4s;
	display: inline-block;
	box-sizing: border-box;
}

.input-frm :focus {
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .1);
	border: 1px solid #6278df;
	border-radius: 10px;
}

.dflt-btn {
	background: #6278df;
	color: #fff;
	display: inline-block;
	padding: 15px 40px;
	font-size: 25px;
	border-radius: 10px;
	margin-left: 10px;
	font-weight: 600;
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .2);
	transition: .4s;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	border: none;
	border: 2px solid transparent;
}

.dflt-btn:hover {
	border: 2px solid #6278df;
	color: #6278df;
	background-color: #fff;
}

/* bloging Section */
.blog-section {
	padding: 80px 0;
}

.b-top {
	padding-bottom: 60px;
}

.b-top-left {
	width: 50%;
}

.b-top-left h1 {
	font-size: 44px;
	font-weight: 500;
	margin-top: 50px;
}

.b-top-right {
	width: 48%;
	margin-left: 2%;
}

.b-top-right p {
	font-size: 20px;
	line-height: 1.7em;
	color: #767676;
}

.b-content {}

.b-content-left {
	width: 48%;
	margin-right: 2%;
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .2);
}

.b-content-left img {
	width: 300px;
	float: left;
	margin-right: 30px;
}

.b-content-content {
	padding: 30px 0;
}

.b-content-content h3 {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 20px;
}

.b-content-content p {
	font-size: 18px;
	line-height: 32px;
	color: #767676;
}

.b-content-left:last-child {
	margin-right: 0;
}

/* feedback  section */
.feedback {
	background-color: #f7f9ff;
	padding: 80px 0;

}

.feedback h1 {
	font-size: 35px;
	font-weight: 500;
	padding-bottom: 45px;
}

.feedback-box {
	width: 31.3%;
	margin-right: 2%;

}

.f-content {
	box-shadow: 3px 4px 20px 0 rgba(98, 120, 223, .2);
	padding: 30px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 5px;
	position: relative;
	color: #000;
}

.f-content::before {
	content: "\f10d";
	font-family: "Font Awesome 5 Free";
	position: absolute;
	top: 15px;
	left: 18px;
	font-weight: 600;
	color: #8b8181;

	font-size: 64px;
	opacity: .15;
}

.f-content::after {
	content: "";
	position: absolute;
	bottom: -24px;
	left: 150px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 26px 28px 0 28px;
	border-color: #ffffff transparent transparent transparent;

}

.f-content p {
	font-size: 18px;
	line-height: 34px;
	color: #767676;
}

.f-b-img {}

.f-b-img img {
	border-radius: 50%;
	width: 100px;
	float: left;
	margin-right: 20px;
	margin-left: 100px;
	margin-top: 34px;
}

.fb-user-bio {
	padding-top: 60px;
}

.fb-user-bio h4 {
	font-size: 20px;
	padding: 10px 0;
	font-weight: 500;
}

.fb-user-bio h6 {
	font-size: 15px;
	font-weight: 300;
	color: #767676;
}

/*  Contact-section*/

.Contact-section {}

.map {
	width: 48%;
	margin-right: 2%;
}

.Contact-us {
	width: 50%;
}

.Contact-us h3 {
	font-size: 30px;
	font-weight: 500;
	padding: 40px 0 20px 0;
}

.Contact-us p {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
	color: #767676;
}

.con-frm {}

.con-frm .input-frm {
	margin-bottom: 20px;
}

.con-frm .w100 {
	width: 100%;
}

.con-frm .w50 {
	width: 48%;
}

/* footer-section */
.footer-section {text-align: center;padding-top: 50px;padding-bottom: 50px;}

.footer-section p {font-size: 20px;color: #767676;}